/*Mise en forme de la barre de navigation*/
.navbar {
    background-image: url(images/sandman.jpg);
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 150px;
}

.contain{
    background-color: black;
    overflow: hidden;
}
/*Mise en forme des liens de la navbar*/
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/*Mise en forme de la navbar, sous-menu et bouton: passage de la souris*/
.navbar a:hover, .subnav:hover .subnav-btn {
    background-color: #555;
}

/*Mise en forme du menu activé de la navbar*/
.active {
    background-color: #04aa6d;
}

/*Mise en forme du menu si l'écran fait moins de 500px*/
@media  screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

/*Mise en forme du sous-menu*/
.subnav {
    float: left;
    overflow: auto;
}

/*Mise en forme des boutons du sous menu*/
.subnav .subnav-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 12px 14px;
    background-color: inherit;
    margin: 0;
}

/*Mise en forme du contenu des sous-menus - position absolue*/
.subnav-content {
    display: none;
    position : absolute;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

/*Mise en forme des liens du sous-menu*/
.subnav-content a:hover {
    background-color: #04aa6d;
    color: black;
}

/*Passage de la souris sur le contenu du sous menu et l'ouvre*/
.subnav:hover .subnav-content {
    display: block;
}

/*Barre de recherche de la navbar*/
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 16px;
}

/*Mise en page de la carte de visite*/

.carte-de-visite {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: #000 solid 3px;
    float: left;
    max-width: 250px;
    margin-top: 20px;
    text-align: center;
}

.title {
    color: grey;
    font-size: 16px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #04aa6d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.carte-de-visite a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

button:hover, a:hover {
    opacity: 0.7;
}